@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #14CC8F;
    border-radius: 30px;
}


.inter-300 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.inter-400 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.inter-500 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.inter-600 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.inter-700 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
